body {
  background-image: url(imgs/knicks.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

h1 {
  font-family: "snicker", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-top: 100px;
}
.navbar {
  font-family: "houschka-rounded", sans-serif;
  font-weight: 700;
  font-style: normal;
}
#muteButton {
  width: 150px;
  height: 150px;
  cursor: pointer;
  margin-left: 5px;
  margin-top: 5px;
}

/* Custom Styles for Dropdown Buttons */
.custom-select {
  font-size: 1.1rem;
  padding: 0.5rem;
  border-radius: 0.375rem;
  background-color: #f1f1f1;
  border: 2px solid #007bff;
  transition: all 0.3s ease-in-out;
}

.custom-select:focus {
  background-color: #e9ecef;
  border-color: #0056b3;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.custom-select option {
  background-color: #ffffff; /* White background for options */
}

.custom-select:hover {
  border-color: #0056b3;
}

.custom-select:disabled {
  background-color: #d6d6d6;
  border-color: #b0b0b0;
}

/* Adjust the size and spacing for small devices */
@media (max-width: 767px) {
  .custom-select {
    font-size: 1rem; /* Smaller font size on mobile */
    padding: 0.4rem; /* Smaller padding on mobile */
  }
}
/* Add margin below navbar */
main.container {
  margin-top: 30px;
}

/* Style select dropdowns */
.form-select {
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #007bff;
  background-color: #f8f9fa;
  transition: all 0.3s ease;
}

.form-select:hover,
.form-select:focus {
  border-color: #0056b3;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.player-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.neon-text {
  font-size: 4rem;
  color: #fff;
  text-shadow: 0 0 5px #f58426, 0 0 10px #f58426, 0 0 20px #f58426,
    0 0 40px #f58426, 0 0 80px #f58426;
  animation: glow 1.5s infinite alternate;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 5px #f58426, 0 0 10px #f58426, 0 0 20px #f58426,
      0 0 40px #f58426, 0 0 80px #f58426;
  }
  100% {
    text-shadow: 0 0 10px #006bb6, 0 0 20px #006bb6, 0 0 40px #006bb6,
      0 0 80px #006bb6, 0 0 160px #006bb6;
  }
}
#meetTeamBtn {
  margin-top: 500px;
  font-family: "snicker", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* CSS */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #ffffff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff7300,
    #ff7300,
    #ff7300,
    #ff7300,
    #002bff,
    #002bff,
    #002bff,
    #002bff,
    #002bff
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000000;
  left: 0;
  top: 0;
  border-radius: 10px;
  color: white;
}
